* {
	padding: 0;
	margin: 0;
}
ul,ol {
	list-style: none;
}
a {
	color: #666;
	text-decoration: none;
}
a:hover {
	color: #666;
}
/* 去掉默认的两像素的边框 */
input {
	border: 0;
	border: 1px solid #ccc;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
/* 清除浮动公共类 */
.clearfix:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.w{
    width: 980px;
    margin: 0 auto;
}

header{
    height: 64px;
    background-color: #fff;
}

header .left{
    width: 180px;
    height: 25px;
    background: url(../images/logo_07.png) 0 0 no-repeat;
    margin-top: 20px;
}

header .right{
    height: 31px;
    margin-top: 20px;
}

header .right input{
    width: 165px;
    height: 30px;
}

header .right button{
    width: 32px;
    height: 30px;
    background: url(../images/btn_03.png) 
}

nav{
    border-top: 1px solid #ccc;
    background: url(../images/nav-bg_07.png) 0 0 repeat-x;
}

nav li{
    width: 130px;
    height: 55px;
    text-align: center;
    font-size: 14px;
    line-height: 55px;
    float: left;
}

nav li a{
    font-size: 14px;
    font-weight: bold;
    color: #000;
    letter-spacing: 2px;
    display: block;
}

.notice{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.notice .left{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

.notice .left a{
    margin-left: 5px;
}

.notice .right{
    width: 86px;
    height: 30px;
    background: url(../images/share_03.png) 0 center no-repeat;
}


main > div{
    height: 226px;
    border: 1px solid #ccc;
    float: left;
}

main .new-product{
    width: 312px;
}

main .news{
    width: 375px;
    margin: 0 12px;
}

main .technology{
    width: 263px;
}

.tittle .left{
    color: #7ab855;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    text-indent: 28px;
    float: left;
    background:url(../images/tips_03.png) 6px center no-repeat;
}

.news .tittle .more{
    line-height: 30px;
    margin-right: 12px;
    font-weight: bold;
}

.news .news-list{
    padding: 0 22px 22px;
    font-size: 12px;
}

.news .news-list li{
    height: 28px;
    line-height: 28px;
    border-bottom: 1px dashed #ccc;
}
.news .news-list .current a{
    color: #ff0000;
    font-weight: bold;
}

.technology-list{
    padding-left: 28px;
}

.technology-list li{
    height: 15px;
    line-height: 15px;
    border-left: 3px solid #98cb00;
    text-indent: 5px;
    margin-bottom: 6px;
}

.technology .address{
    margin-top: 38px;
    text-indent: 30px;
    font-size: 14px;
}

footer{
    margin-top: 50px;
    background-color: #2d2d2d;
}

footer dl{
    float: left;
    margin-right: 50px;
}

footer dl dt{
    height: 50px;
    line-height: 50px;
    color: #c7c7c7;
}

footer dl dd{
    height: 25px;
    line-height: 25px;
    color: #707070;
}

footer .right{
    width: 54px;
    height: 20px;
    background: url(../images/toTop_05.png) 0 0 no-repeat;
}

.footer-b {
	border-top: 1px dashed #ccc;
	margin-top: 50px;
	padding-top: 10px;
}
.footer-b p {
	text-align: center;
	line-height: 30px;
}